:root {
  --font-defalt: clamp(1.8rem, 2vw + 0.1rem, 2rem);
  --font-md: clamp(1.8rem, 2vw + 0.1rem, 2rem);
  --font-sm: clamp(1.2rem, 2vw + 0.1rem, 2rem);
  --font-xs: clamp(0.8rem, 2vw + 0.1rem, 2rem);

  --icon-width: clamp(200px, 50vw + 0.1rem, 400px);

  --color-prim: #02192c;
  --color-sec: #ffedb7;
  --color-ter: #b88f14;
  --color-oct: #d4af37;
  --color-quar: #00134d;
  --color-quint: #2d2d2d;
  --color-sext: #fff;
  --color-sept: #28a745;
  --color-nov: #218838;
  --color-dec: #ffde59;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #02192c;
  color: #fff;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-prim);
  min-height: 100vh;
  width: 100%;
  gap: 2rem;
  padding: 0 1rem;
  overflow-x: hidden;
}

.icon-logo {
  width: 100%;
  max-width: 300px;
  padding: 10px 0 0 0;
}

.icon-logoTelas {
  width: 400px;
  padding: 10px;
}

.container-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100%;
}

.container-imgs,
.container-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.text-spec {
  color: var(--color-dec);
  font-weight: 400;
}

.text-spec-02 {
  font-weight: 600;
}

.text-01,
.text-03,
.text-04 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: var(--color-sext);
  text-align: center;
  width: 100%;
  font-size: var(--font-md);
}

.hero-text {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  gap: 1.5rem;
  background-color: var(--color-quint);
}

.text-01 {
  text-align: justify;
  max-width: 90%;
}

.text-02 {
  font-family: "Gideon Roman", serif;
  font-size: var(--font-md);
  font-weight: 200;
  color: var(--color-sec);
  text-align: justify;
  max-width: 90%;
}

.text-01-destaque,
.text-03-,
.text-destaque-04 {
  color: var(--color-sec);
}

.text-01-destaque {
  font-style: italic;
}

.text-destaque-04 {
  font-size: 1.4rem;
  width: 300px;
}

hr {
  border: 0;
  height: 1px;
  background-color: var(--color-sext);
  width: 90%;
}

.cards-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  overflow-x: hidden;
}

.card {
  width: 360px;
  height: 480px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s ease-in-out;
  transform-origin: center;
  margin: 20px;
}

.flipped {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
  border: 1px solid var(--color-sext);
}

.card-front {
  z-index: 2;
}

.card-back {
  transform: rotateY(180deg);
  box-shadow: 0 0 10px 0 var(--color-ter);
  padding: 5px;
}

.card-back li {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #fff !important;
  text-align: left;
  padding-left: 10px; /* Aumenta o espaçamento entre o ícone e o texto */
  position: relative;
}

ul li::marker {
  color: var(--color-nov); /* Cor verde para o check */
  content: "\2714"; /* O símbolo de check */
}

.invisible {
  opacity: 0;
}

.item-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  list-style-position: inside; /* Coloca o marcador dentro do bloco de texto */
  padding-left: 20px;
  width: 100%;
}

.title-h3 {
  font-family: "Gideon Roman", serif;
  font-weight: 100;
  font-size: 38px;
  color: #d4af37;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.card-img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.price {
  font-family: "Arial", sans-serif;
  font-weight: 300;
  font-size: 1.4rem;
  color: #d4af37;
}

.btn-link {
  text-decoration: none;
  color: #fff;
  padding: 10px;
  background-color: #b88f14;
  border-radius: 5px;
  font-size: max(1.2rem, 2vw);
  font-family: "Roboto", sans-serif;
  max-width: 90%;
  text-align: center;
}

.btn-link:hover {
  background-color: green;
  color: #fff;
}

.btn {
  background-color: #b88f14;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s;
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
}

.btn:hover {
  background-color: #218838;
}

.text-01-destaque {
  font-style: italic;
  font-weight: 300;
  color: #ffedb7;
}

hr {
  border: 0;
  height: 1px;
  background-color: #fff;
  width: 90%;
}

.text-03 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.4rem;
  color: #fff;
  text-align: center;
}

.text-03-destaque {
  color: #ffedb7;
}

.container-text-02 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  position: relative;
}

.item-list {
  list-style: circle;
  text-align: left;
}

.item-list li {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  margin: 6px;
  color: #02192c;
}

.text-04 {
  padding: 0 38px;
  text-align: center;
}

.text-destaque-04 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.8rem;
  color: #ffedb7;
  text-align: center;
  width: 350px;
  padding: 0.5rem;
  border-radius: 10px;
  background-color: #00134d;
  box-shadow: 0 0 10px 0 #b88f14;
}

.text-circle {
  border: 2px solid #b88f14;
  border-radius: 50%;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-icon-screen {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 2px;
  right: 6px;
  left: auto;
  height: 40px;
  width: 40px;
  text-decoration: none;
  border-radius: 10px;
  transition: background-color 0.5s;
}

.home-icon {
  position: relative;
  width: 30px; /* Ajuste conforme necessário */
  font-size: 1.2rem;
  color: #fff;
  margin: 2px;
}

.text-home-icon {
  display: none;
}

.container-icon-screen:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.container-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.container-infos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100%;
}

.text-05 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: var(--color-sext);
  text-align: left;
  width: 92%;
  font-size: var(--font-sm);
}

.item-description {
  font-family: "Gideon Roman", serif;
  font-weight: 200;
  font-size: var(--font-sm);
  color: var(--color-sext);
  text-align: left;
  padding: 13px;
  list-style-position: inside;
  list-style: circle;
  width: 90%;
}

.item-description li::marker {
  color: var(--color-nov); /* Cor verde para o check */
  content: "\2714"; /* O símbolo de check */
}

.item-description li {
  font-weight: 400;
  text-align: left;
  padding-left: 10px; /* Aumenta o espaçamento entre o ícone e o texto */
  position: relative;
}

.perfil-02 {
  z-index: 1;
}

.gradient {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}

.btn-link-footer {
  font-size: max(1.2rem, 1.8vw);
  font-weight: 400;
  text-align: center;
  font-family: "Roboto", sans-serif;
  width: 90%;
  border-radius: 5px;
  padding: 20px;
  color: var(--color-sext);
  background-color: var(--color-ter);
  text-decoration: none;
  position: relative;
  overflow: hidden;
}

.btn-link-footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.5), transparent);
  transition: all 0.5s;
}

.btn-link-footer:hover::before {
  left: 100%;
}

@media (min-width: 350px) and (max-width: 660px) {
  .hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .text-01 {
    font-size: max(1.2rem, 2vw);
    padding: 0 10px;
    text-align: center;
  }

  .text-02 {
    font-size: max(1.6rem, 2vw);
    text-align: center;
    padding: 0 10px;
  }

  .text-invest {
    font-size: var(--font-md);
    font-family: "Gideon Roman", serif;
    width: 100%;
    text-align: center;
    padding: 0px;
    color: var(--color-sec);
  }

  .text-all-files {
    font-size: var(--font-md);
    width: 100%;
    text-align: center;
    padding: 0 13px;
  }

  .text-03 {
    font-family: "Gideon Roman", serif;
    font-size: var(--font-md);
    width: 90%;
  }
  .text-04 {
    font-size: max(1.2rem, 2vw);
    width: 90%;
    padding: 0;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .container-infos {
    gap: 1rem;
  }

  .container-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .perfil-02 {
    width: 100%;
    max-width: 450px;
  }

  .gradient {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .title-description {
    font-size: var(--font-md);
    font-family: "Gideon Roman", serif;
    font-weight: 200;
    color: var(--color-sec);
    text-align: center;
    padding: 0 13px;
  }

  .text-end {
    font-size: max(1.2rem, 2vw);
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    line-height: 1;
    max-width: 560px;
    max-width: 560px;
    text-align: center;
    padding: 18px 0;
  }

  .btn-link {
    font-size: max(1.4rem, 2vw);
    padding: 20px 10px;
  }
}

/* Estilos para tablets */
@media (min-width: 660px) {
  .container-text {
    width: 100%;
  }

  .icon-logo {
    width: 100%;
    max-width: 350px;
  }

  .icon-logoTelas {
    width: 600px;
  }

  .hero-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: ;
    gap: 1.5rem;
  }

  .text-invest {
    font-size: var(--font-md);
    font-family: "Gideon Roman", serif;
    width: 100%;
    max-width: 800px;
    text-align: center;
    padding: 0px;
    color: var(--color-sec);
  }

  .text-01 {
    text-align: center;
    padding: 0 8px;
    font-size: max(1.4rem, 2vw);
  }

  .text-02 {
    font-size: max(2rem, 3vw);
    width: 100%;
    text-align: center;
    line-height: 1;
    padding: 0 8px;
  }

  .text-destaque-04 {
    font-size: 2.8rem;
    color: #ffedb7;
    text-align: center;
    width: 620px;
    padding: 10px 20px;
  }

  .text-03 {
    font-size: var(--font-md);
    width: 100%;
    color: #fff;
    text-align: center;
  }

  .text-circle {
    border: none;
    margin: 0;
    padding: 0;
    width: 80%;
    height: 20%;
  }

  .title-description {
    font-size: max(2rem, 5vw);
    font-family: "Gideon Roman", serif;
    font-weight: 200;
    color: var(--color-sec);
    text-align: center;
    padding: 0 13px;
  }

  .container-infos {
    gap: 0;
    width: 100%;
    max-width: 450vw;
    gap: 1rem;
    align-items: center;
  }

  .container-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .gradient {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .perfil-02 {
    width: 80%;
    max-width: 450vw;
  }

  .text-end {
    font-size: max(1.6rem, 3vw);
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    line-height: 1;
    text-align: center;
    padding: 18px 0;
    max-width: 760px;
    width: 100%;
  }
  .btn-link {
    font-size: max(1.4rem, 2.2vw);
    padding: 20px 10px;
  }
}

/* Estilos para desktops */
@media (min-width: 950px) {
  .container-imgs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    padding: 0 10px 0 0;
    margin-right: auto;
  }

  .container-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 100%;
  }

  .text-01 {
    font-size: max(1.2rem, 1.6vw);
    text-align: justify;
  }

  .text-02 {
    font-size: var(--font-md);
    text-align: justify;
    padding-bottom: 10px;
  }

  .text-04 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    max-width: 90%;
  }

  .text-05 {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    color: var(--color-sext);
    text-align: left;
    width: 90%;
    font-size: var(--font-sm);
  }

  .text-destaque-04 {
    font-size: ;
    padding: 1rem;
    border-radius: 10px;
    background-color: #00134d;
    box-shadow: 0 0 10px 0 #b88f14;
  }

  .text-invest {
    font-size: var(--font-sm);
    font-family: "Gideon Roman", serif;
    width: 80%;
    text-align: center;
    padding: 0 13px;
    color: var(--color-sec);
  }

  .hero-text {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    width: 100%;
    gap: 1.8rem;
    margin-top: 40px;
  }

  .hero-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .icon-logo {
    width: 200px;
  }

  .icon-logoTelas {
    width: 48vw;
  }

  .home-icon {
    right: 10px;
    position: relative;
    width: 30px; /* Ajuste conforme necessário */
    font-size: 1.2rem;
    color: #fff;
    margin: 2px;
  }

  .text-home-icon {
    display: block;
    font-size: 1.2rem;
    color: #fff;
    margin: 2px;
    text-decoration: none;
  }

  .container-icon-screen {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 16px;
    right: 16px;
    left: auto;
    width: 100px;
    height: 40px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.5s;
  }

  .container-icon-screen:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }

  .cards-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: rem;
    width: 100vw;
  }

  .card-img {
    object-fit: cover;
  }

  .card-back {
    width: 100%;
  }

  .container-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .container-infos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 100%;
  }

  .title-description {
    font-size: max(2rem, 4vw);
    font-family: "Gideon Roman", serif;
    font-weight: 200;
    color: var(--color-sec);
    text-align: center;
    padding: 0 13px;
  }

  .text-end {
    font-size: max(1.2rem, 1.8vw);
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    line-height: 1;
    text-align: center;
    padding: 18px 0;
    max-width: 760px;
    width: 100%;
  }

  .btn-link {
    font-size: max(1rem, 1vw);
    font-weight: 300;
    max-width: 280px;
    padding: 20px 10px;
  }

  @media (min-width: 1300px) {
    .container-text {
      max-width: 80%;
    }
  }
}
