* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: between;
  align-items: center;
  background-color: #02192c;
  height: 200vh;
  width: 100%;
  gap: 2rem;
  position: absolute;
}

.container-imgs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  gap: 2rem;
}

.icon-logo {
  width: 300px;
  margin-top: 4rem;
}

.icon-logoTelas {
  width: 400px;
}
.text-01 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
  color: #fff;
  text-align: center;
  width: 400px;
}

.text-02 {
  font-family: "Gideon Roman", serif;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 200;
  text-align: center;
  max-width: 400px;
}

.text-01-destaque {
  font-style: italic;
  font-weight: 300;
  color: #ffedb7;
}

hr {
  border: 0;
  height: 1px;
  background-color: #fff;
  width: 90%;
}

.text-03 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.4rem;
  color: #fff;
  text-align: center;
  width: 400px;
  background-color: #00134d;
  border-radius: 10px;
}

.text-03-destaque {
  color: #ffedb7;
}

.container-text-02 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  position: relative;
}

.card {
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  margin: 20px auto;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #00134d;
}

.card h3 {
  color: #D4AF37;
  font-size: 2em;
  font-family: "Gideon Roman", serif;
  font-weight: 100;
  margin-bottom: 10px;
  position: relative;
}

.price {
  font-size: 1.2em;
  margin: 10px 0;
  color: #D4AF37;
  text-align: center;
}

.button {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
  background-color: #D4AF37;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: green;
  color: #fff;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.item-list li {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  margin: 10px;
  list-style: circle;
}

.text-04 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
  color: #fff;
  text-align: center;
  width: 400px;
  margin-bottom: 1rem;
}

.text-destaque-04 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.4rem;
  color: #ffedb7;
  text-align: center;
  width: 300px;
}