:root {
  --font-defalt: clamp(6rem, 10vw + 0.1rem, 8rem);
  --font-md: clamp(2rem, 3vw + 0.1rem, 10rem);
  --font-sm: clamp(1.2rem, 2vw + 0.1rem, 2rem);
  --font-xs: clamp(0.8rem, 1.8vw + 0.1rem, 2.4rem);

  --icon-width: clamp(200px, 50vw + 0.1rem, 400px);
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #02192c;
  color: #fff;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #02192c;
  min-height: 100vh;
  width: 100%;
  gap: 2rem;
  padding: 1rem;
}

.icon-logo {
  width: 100%;
  max-width: 300px;
  padding: 10px 0 0 0;
}

.icon-logoTelas {
  width: 400px;
  padding: 10px;
}

.container-imgs, .container-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  width: 100%;
  gap: 1rem;
}

.text-01, .text-02, .text-03, .text-04 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #fff;
  text-align: center;
  width: 100%;
  max-width: 500px;
  font-size: var(--font-sm);
}

.text-01 {
  padding: 0 38px;
  text-align: justify;
}

.text-02 {
  font-family: "Gideon Roman", serif;
  font-size: 1.8rem;
  font-weight: 200;
}

.text-03 {
  font-size: 1.4rem;
  border: 2px solid #b88f14;
  border-radius: 10px;
}

.text-01-destaque, .text-03-destaque, .text-destaque-04 {
  color: #ffedb7;
}

.text-01-destaque {
  font-style: italic;
}

.text-destaque-04 {
  font-size: 1.4rem;
  width: 300px;
}

hr {
  border: 0;
  height: 1px;
  background-color: #fff;
  width: 90%;
}

.card-container {
  perspective: 1000px; /* Para o efeito 3D */
}

.card {
  width: 360px;
  height: 480px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s ease-in-out;
  transform-origin: center;
  margin: 20px;
}

.flipped {
  transform: rotateY(180deg);
}

.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  border: 2px solid #fff;
}

.card-front {
  z-index: 2;
}

.card-back {
  background-color: #00134D;
  transform: rotateY(180deg);
  padding: 20px;
}

.card-back li {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  margin: 6px;
  text-align: left;
}

.title-h3 {
  font-family: "Gideon Roman", serif;
  font-weight: 100;
  font-size: 38px;
  color: #D4AF37;
}

.card-img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.price {
  font-family: "Arial", sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
  color: #D4AF37;
}

.btn-link {
  text-decoration: none;
  color: #fff;
  padding: 10px;
  background-color: #b88f14;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
}

.btn-link:hover {
  background-color: green;
  color: #fff;
}

.btn {
  background-color: #b88f14;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s;
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
}

.btn:hover {
  background-color: #218838;
}

.text-01-destaque {
  font-style: italic;
  font-weight: 300;
  color: #ffedb7;
}

hr {
  border: 0;
  height: 1px;
  background-color: #fff;
  width: 90%;
}

.text-03 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.4rem;
  color: #fff;
  text-align: center;
  width: 400px;
  border: 2px solid #b88f14;
  border-radius: 10px;
}

.text-03-destaque {
  color: #ffedb7;
}

.container-text-02 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  position: relative;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.item-list {
  list-style: circle;
  text-align: left;
}

.item-list li {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  margin: 6px;
  color: #02192c;
}

.text-04 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
  color: #fff;
  text-align: center;
  width: 100%;
  max-width: 400px;
  margin-bottom: 1.2rem;
}

.text-destaque-04 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.8rem;
  color: #ffedb7;
  text-align: center;
  width: 350px;
  padding: 0.5rem;
  border-radius: 10px;
  background-color: #00134D;
  box-shadow: 0 0 10px 0 #b88f14;
}

.text-circle {
  border: 2px solid #b88f14;
  border-radius: 50%;
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-icon-screen {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 16px;
  right: 16px;
  left: auto;
  height: 40px;
  width: 40px;
  text-decoration: none;
  border-radius: 10px;
  transition: background-color 0.5s;
}

.home-icon {
  position: relative;
  width: 30px; /* Ajuste conforme necessário */
  font-size: 1.2rem;
  color: #fff;
  margin: 2px;
}

.text-home-icon {
  display: none;
}

.container-icon-screen:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

/* Estilos para tablets */
@media (min-width: 660px) {
  .container-text {
    width: 100%;
  }

  .icon-logo {
    width: 100%;
    max-width: 350px;
  }

  .icon-logoTelas {
    width: 480px;
  }

  .text-01, .text-03, .text-04 {
    font-size: 23px;
    color: #fff;
    text-align: center;
    width: 90%;
    max-width: 100%;
  }

  .text-02 {
    font-size: 2.8rem;
    line-height: 1;
    color: #fff;
    text-align: center;
    max-width: 90%;
  }

  .text-destaque-04 {
    font-size: 2.8rem;
    color: #ffedb7;
    text-align: center;
    width: 620px;
    padding: 10px 20px;
  }

  .text-03 {
    font-size: 1.8rem;
    color: #fff;
    text-align: center;
    max-width: 90%;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
  }

  .cards-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    width: 100%;
  }

  .card {
    width: 450px;
    height: 580px;
  }

  .card-back {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 5rem;
  }

  .title-h3 {
    font-size: 3rem;
    line-height: 1.5;
  }

  .card-back li {
    font-size: 3rem;
    height: 30px;
  }

  .price {
    font-size: 1.8rem;
  }

  .btn-link {
    font-size: 1.8rem;
    padding: 10px 20px;
  }

  .text-circle {
    height: 240px;
    border: 4px solid #b88f14;
  }
}

/* Estilos para desktops */
@media (min-width: 950px) {
  .container-imgs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    padding: 0 10px 0 0;
    margin-right: auto;
  }

  .text-01 {
    font-size:  var(--font-xs);
    text-align: justify;
  }

  .text-02 {
    font-size: var(--font-md);
    text-align: justify;
  }

  .hero-text {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    width: 100%;
    gap: 2rem;
  }

  .hero-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .icon-logo {
    width: 200px;
  }

  .icon-logoTelas {
    width: 48vw;
  }

  .home-icon {
    right: 10px;
    position: relative;
    width: 30px; /* Ajuste conforme necessário */
    font-size: 1.2rem;
    color: #fff;
    margin: 2px;
  }

  .text-home-icon {
    font-size: 1.2rem;
    color: #fff;
    margin: 2px;
    text-decoration: none;
  }

  .container-icon-screen {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 16px;
    right: 16px;
    left: auto;
    width: 100px;
    height: 40px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.5s;
  }
  
  .container-icon-screen:hover {
    background-color: rgba(255, 255, 255, 0.2);
  } 
}